Repository ninoseki/mihari: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, eslint, prettier, type-check, actionlint

rubocop:
  run: bundle exec rubocop --fix {staged_files}
  stage_fixed: true

eslint:
  run: npx eslint --fix {staged_files}
  stage_fixed: true

prettier:
  run: npx prettier --write {staged_files}
  stage_fixed: true

type-check:
  run: npm run type-check

actionlint:
  run: actionlint

docs: update example API key to auth-key in webhook documentation
  docs/emitters/webhook.md
Due: none

refactor: drop BinaryEdge
  README.md
  docs/analyzers/binaryedge.md
  docs/analyzers/index.md
  lib/mihari.rb
  lib/mihari/analyzers/binaryedge.rb
  lib/mihari/clients/binaryedge.rb
  lib/mihari/config.rb
  lib/mihari/schemas/analyzer.rb
  lib/mihari/structs/binaryedge.rb
  mihari.gemspec
  spec/analyzers/binaryedge_spec.rb
  spec/fixtures/vcr_cassettes/Mihari_Analyzers_BinaryEdge/_artifacts/1_1_1.yml
Due: rubocop

refactor: update Zod, etc.
  frontend/package-lock.json
  frontend/package.json
  frontend/src/schemas.ts
  frontend/src/utils.ts
Due: eslint, prettier, type-check

ci: use trusted publisher
  .github/workflows/docs.yml
  .github/workflows/gem.yml
  .github/workflows/image.yml
  .github/workflows/node.yml
  .github/workflows/release.yml
  .github/workflows/ruby.yml
  Dockerfile
  Rakefile
  frontend/package-lock.json
  frontend/package.json
  lib/mihari/version.rb
  mihari.gemspec
  requirements.txt
Due: rubocop

fix: fix lint error
  .rubocop.yml
  Rakefile
Due: none

v8.2.0
  Rakefile
  lib/mihari/version.rb
Due: rubocop

refactor: disable renovate
  renovate.json
Due: none

v8.2.1
  frontend/package-lock.json
  frontend/package.json
  mihari.gemspec
Due: none

v8.2.1
  lib/mihari/version.rb
Due: rubocop

feat: add Censys V2 analyzer support
  docker-compose.yml
  docs/analyzers/censys_v2.md
  docs/index.md
  frontend/src/links/censys_v2.ts
  lib/mihari.rb
  lib/mihari/analyzers/censys_v2.rb
  lib/mihari/clients/censys_v2.rb
  lib/mihari/config.rb
  lib/mihari/schemas/analyzer.rb
  lib/mihari/structs/censys_v2.rb
  spec/analyzers/censys_v2_spec.rb
Due: rubocop, eslint, prettier, type-check

restore docker-compose.yml
  docker-compose.yml
Due: none

feat: version-aware Censys analyzer + docs
  .gitignore
  Dockerfile
  docs/analyzers/censys.md
  docs/analyzers/censys_v2.md
  docs/analyzers/censys_v3.md
  docs/analyzers/index.md
  docs/index.md
  docs/rule.md
  frontend/src/components/config/ConfigsItem.vue
  lib/mihari.rb
  lib/mihari/analyzers/censys.rb
  lib/mihari/analyzers/censys_v2.rb
  lib/mihari/clients/censys_v3.rb
  lib/mihari/config.rb
  lib/mihari/schemas/analyzer.rb
  lib/mihari/schemas/options.rb
  lib/mihari/structs/censys_v3.rb
  spec/analyzers/censys_spec.rb
  spec/analyzers/censys_v2_spec.rb
Due: rubocop, eslint, prettier, type-check

spec: stabilize Censys specs; lint: fix style and nil-safety in Censys clients/structs
  lib/mihari/clients/censys_v2.rb
  lib/mihari/clients/censys_v3.rb
  lib/mihari/config.rb
  lib/mihari/structs/censys_v2.rb
  spec/analyzers/censys_spec.rb
Due: rubocop

fix: revert strange changes & adjust implementations
  .gitignore
  Dockerfile
  docs/analyzers/censys.md
  docs/analyzers/censys_v3.md
  docs/analyzers/index.md
  docs/configuration.md
  docs/index.md
  docs/rule.md
  frontend/src/components/config/ConfigsItem.vue
  frontend/src/links/censys_v2.ts
  lib/mihari.rb
  lib/mihari/analyzers/censys.rb
  lib/mihari/clients/censys.rb
  lib/mihari/clients/censys_v2.rb
  lib/mihari/clients/censys_v3.rb
  lib/mihari/config.rb
  lib/mihari/schemas/analyzer.rb
  lib/mihari/structs/censys.rb
  lib/mihari/structs/censys_v2.rb
  lib/mihari/structs/censys_v3.rb
  spec/analyzers/censys_spec.rb
  spec/fixtures/vcr_cassettes/Mihari_Analyzers_Censys/v2/_artifacts/1_1_1_1.yml
  spec/spec_helper.rb
Due: rubocop, eslint, prettier, type-check

refactor: adjust attr_reader
  lib/mihari/analyzers/censys.rb
  lib/mihari/clients/censys.rb
Due: rubocop

fix: remove AnalyzerPaginationOptionsWithVersion
  lib/mihari/schemas/options.rb
Due: rubocop

fix: use "with" prefix
  spec/analyzers/censys_spec.rb
  spec/fixtures/vcr_cassettes/Mihari_Analyzers_Censys/with_v2/_artifacts/1_1_1_1.yml
Due: rubocop

uploaded vcr cassette & fixed censys_spec.rb for v3
  spec/analyzers/censys_spec.rb
  spec/fixtures/vcr_cassettes/Mihari_Analyzers_Censys/with_v3/_artifacts/1_1_1_1.yml
Due: rubocop

fix: remove test description to match VCR cassette naming
  spec/analyzers/censys_spec.rb
Due: rubocop

fix: fix VCR issue
  spec/analyzers/censys_spec.rb
  spec/fixtures/vcr_cassettes/Mihari_Analyzers_Censys/with_v3/_artifacts/1_1_1_1.yml
  spec/fixtures/vcr_cassettes/Mihari_Analyzers_Censys/with_v3/_artifacts/1_2_1_1.yml
Due: rubocop

Feature/add new analyser for latest Censys API (#1174)
  docs/analyzers/censys.md
  docs/analyzers/index.md
  docs/configuration.md
  lib/mihari/analyzers/censys.rb
  lib/mihari/clients/censys.rb
  lib/mihari/config.rb
  lib/mihari/schemas/analyzer.rb
  lib/mihari/structs/censys.rb
  spec/analyzers/censys_spec.rb
  spec/fixtures/vcr_cassettes/Mihari_Analyzers_Censys/with_v2/_artifacts/1_1_1_1.yml
  spec/fixtures/vcr_cassettes/Mihari_Analyzers_Censys/with_v3/_artifacts/1_2_1_1.yml
  spec/spec_helper.rb
Due: rubocop

refactor: tidy Censys v3 impl
  lib/mihari/clients/censys.rb
Due: rubocop

fix: add missing api_key param
  lib/mihari/schemas/analyzer.rb
Due: rubocop

chore: add openssl gem
  mihari.gemspec
Due: none

chore: update Grape & Sidekiq
  lib/mihari/sidekiq/application.rb
  lib/mihari/web/endpoints/alerts.rb
  lib/mihari/web/endpoints/artifacts.rb
  lib/mihari/web/endpoints/ip_addresses.rb
  lib/mihari/web/endpoints/rules.rb
  lib/mihari/web/endpoints/tags.rb
  mihari.gemspec
  spec/web/endpoints/alerts_spec.rb
  spec/web/endpoints/artifacts_spec.rb
  spec/web/endpoints/ip_addresses_spec.rb
  spec/web/endpoints/rules_spec.rb
  spec/web/endpoints/tags_spec.rb
Due: rubocop

chore: update frontend deps
  frontend/package-lock.json
  frontend/package.json
Due: none

Fix (#1175)
  frontend/package-lock.json
  frontend/package.json
  lib/mihari/clients/censys.rb
  lib/mihari/schemas/analyzer.rb
  lib/mihari/sidekiq/application.rb
  lib/mihari/web/endpoints/alerts.rb
  lib/mihari/web/endpoints/artifacts.rb
  lib/mihari/web/endpoints/ip_addresses.rb
  lib/mihari/web/endpoints/rules.rb
  lib/mihari/web/endpoints/tags.rb
  mihari.gemspec
  spec/web/endpoints/alerts_spec.rb
  spec/web/endpoints/artifacts_spec.rb
  spec/web/endpoints/ip_addresses_spec.rb
  spec/web/endpoints/rules_spec.rb
  spec/web/endpoints/tags_spec.rb
Due: rubocop

ci: update actions
  .github/workflows/docs.yml
  .github/workflows/node.yml
  .github/workflows/release.yml
  .github/workflows/ruby.yml
Due: none

ci: update actions (#1176)
  .github/workflows/docs.yml
  .github/workflows/node.yml
  .github/workflows/release.yml
  .github/workflows/ruby.yml
Due: none

chore: update MKDocs
  requirements.txt
Due: none

chore: update MKDocs (#1177)
  requirements.txt
Due: none

fix: drop openssl
  mihari.gemspec
Due: none

fix: drop openssl (#1178)
  mihari.gemspec
Due: none

v8.3.0
  lib/mihari/version.rb
Due: rubocop

chore: update dependencies
  .github/workflows/docs.yml
  .github/workflows/node.yml
  .github/workflows/release.yml
  .github/workflows/ruby.yml
  frontend/package-lock.json
  frontend/package.json
  mihari.gemspec
  spec/spec_helper.rb
Due: rubocop

fix: skip non-host hits in Censys V3 struct parsing
  lib/mihari/structs/censys.rb
Due: rubocop

refactor: use GVB
  lib/mihari/version.rb
  mihari.gemspec
Due: rubocop

fix: set begin-rescue
  mihari.gemspec
Due: none

Path conditions:
  rubocop: any of: *.rb
  eslint: any of: *.{js,ts,vue} and ^frontend/
  prettier: any of: *.{js,ts,vue} and ^frontend/
  type-check: any of: *.{js,ts,vue} and ^frontend/
  actionlint: any of: .github/workflows/*.yaml
