Repository ninoseki/mihari: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, eslint, prettier, type-check, actionlint

lefthook.yml:

pre-commit:
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --fix {staged_files}
      stage_fixed: true
    eslint:
      root: "frontend/"
      glob: "*.{js,ts,vue}"
      run: npx eslint --fix {staged_files}
      stage_fixed: true
    prettier:
      root: "frontend/"
      glob: "*.{js,ts,vue}"
      run: npx prettier --write {staged_files}
      stage_fixed: true
    type-check:
      root: "frontend/"
      glob: "*.{js,ts,vue}"
      run: npm run type-check
    actionlint:
      glob: ".github/workflows/*.yaml"
      run: actionlint

V7.6.3 (#1109)
  build_frontend.sh
  frontend/package-lock.json
  frontend/package.json
  lib/mihari/version.rb
  requirements.txt
Due: rubocop

chore: update test-prof, etc.
  mihari.gemspec
Due: none

fix: set connection
  spec/spec_helper.rb
Due: rubocop

chore: add comment [skip ci]
  spec/spec_helper.rb
Due: rubocop

chore: update test-prof, etc. (#1110)
  mihari.gemspec
  spec/spec_helper.rb
Due: rubocop

feat: make Sidekiq retry configurable
  docs/configuration.md
  lib/mihari/config.rb
  lib/mihari/sidekiq/application.rb
Due: rubocop

feat: make Sidekiq retry configurable (#1115)
  docs/configuration.md
  lib/mihari/config.rb
  lib/mihari/sidekiq/application.rb
Due: rubocop

docs: fix typo
  docs/emitters/misp.md
Due: none

v7.6.4
  Rakefile
  frontend/package-lock.json
  frontend/package.json
  lib/mihari/version.rb
  mihari.gemspec
Due: rubocop

v7.6.4 (#1116)
  Rakefile
  docs/emitters/misp.md
  frontend/package-lock.json
  frontend/package.json
  lib/mihari/version.rb
  mihari.gemspec
Due: rubocop

refactor: stop using meaningless try/result
  lib/mihari/commands/alert.rb
  lib/mihari/commands/artifact.rb
  lib/mihari/commands/rule.rb
  lib/mihari/commands/search.rb
  lib/mihari/commands/tag.rb
Due: rubocop

refactor: stop using meaningless try/result (#1117)
  lib/mihari/commands/alert.rb
  lib/mihari/commands/artifact.rb
  lib/mihari/commands/rule.rb
  lib/mihari/commands/search.rb
  lib/mihari/commands/tag.rb
Due: rubocop

chore: update ESLint
  .github/workflows/node.yml
  frontend/.eslintrc.cjs
  frontend/eslint.config.mjs
  frontend/package-lock.json
  frontend/package.json
Due: none

chore: update ESLint (#1124)
  .github/workflows/node.yml
  frontend/.eslintrc.cjs
  frontend/eslint.config.mjs
  frontend/package-lock.json
  frontend/package.json
Due: none

chore: update gems
  lib/mihari/database.rb
  mihari.gemspec
Due: rubocop

chore: update npm deps
  frontend/eslint.config.mjs
  frontend/package-lock.json
  frontend/package.json
Due: none

v7.7.0
  lib/mihari/version.rb
Due: rubocop

v8.0.0
  .github/workflows/ruby.yml
  lib/mihari/version.rb
  mihari.gemspec
Due: rubocop

V7.7.0 (#1127)
  .github/workflows/ruby.yml
  frontend/eslint.config.mjs
  frontend/package-lock.json
  frontend/package.json
  lib/mihari/database.rb
  lib/mihari/version.rb
  mihari.gemspec
Due: rubocop

ci: update workflows
  .github/workflows/docs.yml
  .github/workflows/node.yml
  .github/workflows/ruby.yml
Due: none

docs: update docs
  docs/dev.md
  docs/requirements.md
Due: none

refactor: rename #result to #get_result
  lib/mihari/actor.rb
  lib/mihari/analyzers/base.rb
  lib/mihari/commands/alert.rb
  lib/mihari/commands/artifact.rb
  lib/mihari/commands/rule.rb
  lib/mihari/emitters/base.rb
  lib/mihari/enrichers/base.rb
  lib/mihari/models/artifact.rb
  lib/mihari/models/port.rb
  lib/mihari/rule.rb
  lib/mihari/service.rb
  lib/mihari/web/endpoints/alerts.rb
  lib/mihari/web/endpoints/artifacts.rb
  lib/mihari/web/endpoints/ip_addresses.rb
  lib/mihari/web/endpoints/rules.rb
  lib/mihari/web/endpoints/tags.rb
  spec/actor_spec.rb
  spec/fixtures/vcr_cassettes/Mihari_Enrichers_MMDB/ip_1_1_1_1.yml
  spec/fixtures/vcr_cassettes/Mihari_Web_Endpoints_Artifacts/get_/api/artifacts/_id/enrich/returns_201.yml
  spec/fixtures/vcr_cassettes/Mihari_Web_Endpoints_IPAddresses/get_/api/ip_addresses/_ip/returns_200.yml
  spec/web/endpoints/ip_addresses_spec.rb
Due: rubocop

chore: Vite 6
  frontend/eslint.config.mjs
  frontend/package-lock.json
  frontend/package.json
  frontend/tsconfig.app.json
  frontend/tsconfig.node.json
  frontend/tsconfig.vitest.json
  frontend/vitest.config.ts
Due: eslint, prettier, type-check

chore: update gems
  mihari.gemspec
Due: none

chore: update mkdocs-material
  requirements.txt
Due: none

v8.0.1
  lib/mihari/version.rb
Due: rubocop

fix: fix Censys AS key issue (#1136)
  lib/mihari/structs/censys.rb
Due: rubocop

fix: use 0 instead of -1
  spec/concerns/retriable_spec.rb
  spec/http_spec.rb
Due: rubocop

v8.0.2
  frontend/package-lock.json
  frontend/package.json
  lib/mihari/version.rb
  mihari.gemspec
Due: rubocop

fix: add missing link
  docs/analyzers/index.md
Due: none

refactor: update ESLint
  frontend/eslint.config.mjs
  frontend/package-lock.json
  frontend/package.json
Due: none

refactor: use data_types
  docs/analyzers/urlscan.md
  docs/analyzers/zoomeye.md
  lib/mihari/analyzers/urlscan.rb
  lib/mihari/schemas/analyzer.rb
  spec/analyzers/urlscan_spec.rb
Due: rubocop

v8.1.0
  .github/workflows/ruby.yml
  docs/requirements.md
  frontend/package-lock.json
  frontend/package.json
  lib/mihari/version.rb
  mihari.gemspec
Due: rubocop
