Repository ninoseki/mihari: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, eslint, prettier, type-check, actionlint

lefthook.yml:

pre-commit:
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --fix {staged_files}
      stage_fixed: true
    eslint:
      root: "frontend/"
      glob: "*.{js,ts,vue}"
      run: npx eslint --fix {staged_files}
      stage_fixed: true
    prettier:
      root: "frontend/"
      glob: "*.{js,ts,vue}"
      run: npx prettier --write {staged_files}
      stage_fixed: true
    type-check:
      root: "frontend/"
      glob: "*.{js,ts,vue}"
      run: npm run type-check
    actionlint:
      glob: ".github/workflows/*.yaml"
      run: actionlint

fix: fix lint errors
  mihari.gemspec
Due: none

chore: update deps
  mihari.gemspec
Due: none

fix: fix breaking changes related issues
  lib/mihari/clients/circl.rb
  lib/mihari/services/feed.rb
  lib/mihari/web/endpoints/alerts.rb
  lib/mihari/web/endpoints/artifacts.rb
  lib/mihari/web/endpoints/configs.rb
  lib/mihari/web/endpoints/ip_addresses.rb
  lib/mihari/web/endpoints/rules.rb
  lib/mihari/web/endpoints/tags.rb
Due: rubocop

fix: revert rubocop-yard version specifier
  .github/workflows/ruby.yml
  mihari.gemspec
Due: none

fix: revert the revert
  .github/workflows/ruby.yml
  mihari.gemspec
Due: none

Update deps (#1183)
  .github/workflows/ruby.yml
  lib/mihari/clients/circl.rb
  lib/mihari/services/feed.rb
  lib/mihari/web/endpoints/alerts.rb
  lib/mihari/web/endpoints/artifacts.rb
  lib/mihari/web/endpoints/configs.rb
  lib/mihari/web/endpoints/ip_addresses.rb
  lib/mihari/web/endpoints/rules.rb
  lib/mihari/web/endpoints/tags.rb
  mihari.gemspec
Due: rubocop

refactor: drop Censys v2
  docs/analyzers/censys.md
  docs/requirements.md
  lib/mihari/analyzers/censys.rb
  lib/mihari/clients/censys.rb
  lib/mihari/schemas/analyzer.rb
  spec/analyzers/censys_spec.rb
  spec/fixtures/vcr_cassettes/Mihari_Analyzers_Censys/with_v2/_artifacts/1_1_1_1.yml
  spec/fixtures/vcr_cassettes/Mihari_Analyzers_Censys/with_v3/_artifacts/1_1_1_1.yml
Due: rubocop

refactor: drop Censys v2 (#1184)
  docs/analyzers/censys.md
  docs/requirements.md
  lib/mihari/analyzers/censys.rb
  lib/mihari/clients/censys.rb
  lib/mihari/schemas/analyzer.rb
  spec/analyzers/censys_spec.rb
  spec/fixtures/vcr_cassettes/Mihari_Analyzers_Censys/with_v2/_artifacts/1_1_1_1.yml
  spec/fixtures/vcr_cassettes/Mihari_Analyzers_Censys/with_v3/_artifacts/1_1_1_1.yml
Due: rubocop

chore: update gems
  mihari.gemspec
Due: none

chore: update gems (#1187)
  mihari.gemspec
Due: none

refactor: update deps and simplify them
  .github/workflows/docs.yml
  .github/workflows/node.yml
  .github/workflows/release.yml
  .github/workflows/ruby.yml
  frontend/.oxfmtrc.json
  frontend/.oxlintrc.json
  frontend/.prettierrc.json
  frontend/eslint.config.mjs
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api.ts
  frontend/src/components/ErrorMessage.vue
  frontend/src/components/alert/ActionButtons.vue
  frontend/src/components/alert/AlertDetail.vue
  frontend/src/components/alert/AlertItem.vue
  frontend/src/components/artifact/ActionButtons.vue
  frontend/src/components/artifact/ArtifactDetail.vue
  frontend/src/components/artifact/ArtifactItem.vue
  frontend/src/components/rule/ActionButtons.vue
  frontend/src/components/rule/InputForm.vue
  frontend/src/components/rule/RuleDetail.vue
  frontend/src/components/rule/RuleItem.vue
  frontend/src/components/rule/YamlItem.vue
  frontend/src/main.ts
  frontend/src/shims-vue.d.ts
  frontend/tsconfig.node.json
  lefthook.yml
Due: eslint, prettier, type-check

refactor: update deps and simplify them (#1188)
  .github/workflows/docs.yml
  .github/workflows/node.yml
  .github/workflows/release.yml
  .github/workflows/ruby.yml
  frontend/.oxfmtrc.json
  frontend/.oxlintrc.json
  frontend/.prettierrc.json
  frontend/eslint.config.mjs
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api.ts
  frontend/src/components/ErrorMessage.vue
  frontend/src/components/alert/ActionButtons.vue
  frontend/src/components/alert/AlertDetail.vue
  frontend/src/components/alert/AlertItem.vue
  frontend/src/components/artifact/ActionButtons.vue
  frontend/src/components/artifact/ArtifactDetail.vue
  frontend/src/components/artifact/ArtifactItem.vue
  frontend/src/components/rule/ActionButtons.vue
  frontend/src/components/rule/InputForm.vue
  frontend/src/components/rule/RuleDetail.vue
  frontend/src/components/rule/RuleItem.vue
  frontend/src/components/rule/YamlItem.vue
  frontend/src/main.ts
  frontend/src/shims-vue.d.ts
  frontend/tsconfig.node.json
  lefthook.yml
Due: eslint, prettier, type-check
